:root {
    --default-color:#aaaaaa;
    --background-color:rgba(0,0,0,0);
    --border:solid 4px var(--default-color);
    --shadowing:black 2px 0px,  black -2px 0px,
                black 0px -2px, black 0px 2px,
                black 2px 2px , black -2px 2px,
                black 2px -2px, black -2px -2px,
                black 1px 2px,  black -1px 2px,
                black 1px -2px, black -1px -2px,
                black 2px 1px,  black -2px 1px,
                black 2px -1px, black -2px -1px;
}
body {
    width: 1280px;
    height: 720px;
    margin: 0px;
    padding: 0px;
}

div.frame, div.info {
    height: 100%;
    position: absolute;
}

div#left {
    top: 0px;
    left: 0px;
}
div#right {
    top: 0px;
    right: 0px;
}
div#center.r2 {
    top: 432px;
    left: 513px;
}
div#center.r3 {
    top: 480px;
    left: 427px;
}

div.frame.r2 {
    width: 576px;
}
div.frame.r3 {
    width: 426px;
}
/*
div.info.r2 {
    width: 272px;
    top: 120px;
    left: 512px;
}
*/
div.info {
    z-index: 99;
    width: 428px;
    top: 0px;
    left: 426px;
}